<br/>
<div class="alert alert-dark" role="alert">
  <h1> Welcome to the new World !</h1>
</div>
<div class="alert alert-info" role="alert">
  <h4>Here you can find amazing details of users.</h4>
</div>
<br/>
 <%= image_tag "wel.png", height: 250 %>
<br/><br/>
 <div class="alert alert-success" role="alert">
  <h4> This App Create, Read, Update and Delete user details. </h4>
</div>